@use "@/app/assets/styles/colors";

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;

  .footerRow {
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 3rem;
    flex-wrap: wrap;
  }

  .footerRow1 {
    background-color: colors.$primary;
    color: colors.$black;
    justify-content: space-between;
    padding: 1.5rem 4rem 1.5rem 1.5rem;
    gap: 1rem 3rem;
  }

  .footerRow2 {
    background-color: colors.$black;
    color: colors.$white;
    padding: 1.5rem;
    justify-content: center;
    font-size: 1.8rem;
  }

  .socialMedia {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: .5rem 1.5rem;

    li {
      list-style: none;

      span {
        color: colors.$black;
      }
    }
  }
}