@use "@/app/assets/styles/breackpoints";

.selectTeams {
  width: 100%;
  padding: 0 4rem;

  @media screen and (max-width: breackpoints.$phone) {
    padding: 0 2rem;
  }

  .antSelect {
    width: 100%;
  }
}