@use "@/app/assets/styles/colors";

.header {
  padding-top: 2rem;
  text-align: center;

  h1 {
    color: colors.$primary;
    font-size: 4rem;

    @media screen and (max-width: 480px) {
      font-size: 2rem;
      line-height: 2rem;
    }
  }
}