@use "@/app/assets/styles/colors";
@use "@/app/assets/styles/breackpoints";

.header {
  padding: 2rem 2rem 0 2rem;
  text-align: center;

  h1 {
    color: colors.$primary;
    font-size: 4rem;

    @media screen and (max-width: breackpoints.$phone) {
      font-size: 2rem;
      line-height: 2rem;
    }
  }
}