@use "@/app/assets/styles/colors";

.fixturesListItemWrapper {
  display: flex;
  flex-direction: column;
  flex: 1 0 20rem;
  max-width: 40rem;
  align-content: flex-start;

  .fixturesListItem {
    height: 100%;
    color: colors.$black;
    border-radius: 1rem;
    overflow: hidden;
    margin: 0;
    padding: 0;
    transition: scale .3s;

    &:hover,
    &:focus-visible {
      scale: 1.1;
    }

    li {
      list-style: none;
      background-color: colors.$white;
      font-size: 1.8rem;
    }

    .mainTeamName {
      background-color: colors.$primary;
      color: colors.$black;
      font-weight: 700;
      font-size: 2rem;
      padding: 1rem 1.5rem;
      border-bottom: 1px solid colors.$black;
    }

    .opponentTeamNameWrapper {
      display: grid;
      grid-template-columns: 2.5rem 1fr 2.5rem;
      gap: 1rem;
      padding: 1rem 1.5rem;
      border-bottom: 1px solid colors.$black;

      &:last-child {
        border-bottom: none;
      }

      .opponentTeamName {
        text-align: left;
      }

      .stadium {
        width: 2.5rem;
        height: 2.5rem;
        line-height: 2.5rem;
        border-radius: 100%;
        background-color: darkseagreen;

        &.awayStadium {
          background-color: pink;
        }
      }
    }
  }

  .skeletonWrapper {
    background-color: colors.$white;
    padding: 1rem 1.5rem;
    height: 100%;
  }
}


