@use "@/app/assets/styles/colors";
@use "@/app/assets/styles/breackpoints";

.fixturesListItemWrapper {
  display: flex;
  flex-direction: column;
  min-height: 25rem;
  flex: 1 0 20rem;
  max-width: 40rem;

  @media screen and (max-width: breackpoints.$phone-large) {
    min-height: unset;
  }

  .fixturesListItem {
    height: 100%;
    color: colors.$black;
    background-color: colors.$white;
    border-radius: 1rem;
    overflow: hidden;
    margin: 0;
    padding: 0;
    transition: box-shadow .3s;

    &:hover,
    &:focus-visible {
      box-shadow: 0 0 1rem 0.4rem colors.$primary;
    }

    li {
      list-style: none;
      font-size: 1.8rem;
      text-align: center;
    }

    .mainTeamName {
      background-color: colors.$primary;
      color: colors.$black;
      padding: 1rem 1.5rem;
      border-bottom: 1px solid colors.$black;
      overflow: hidden;

      h2 {
        font-size: 2rem;
        font-weight: 700;
      }
    }

    .opponentTeamNameWrapper {
      display: grid;
      grid-template-columns: 2.5rem 1fr 2rem 2.5rem;
      align-items: center;
      min-height: 5rem;
      gap: 1rem;
      padding: 1rem 1.5rem;
      border-bottom: 1px solid colors.$black;

      .opponentTeamName {
        text-align: left;
        overflow: hidden;

        h3 {
          font-weight: 400;
          font-size: 1.8rem;
        }
      }

      .stadium {
        width: 2.5rem;
        height: 2.5rem;
        line-height: 2.5rem;
        border-radius: 100%;
        background-color: darkseagreen;

        &.awayStadium {
          background-color: pink;
        }
      }
    }
  }

  .skeletonWrapper {
    background-color: colors.$white;
    padding: 1rem 1.5rem;
    height: 100%;
  }
}

.fixturesListItemWrapper.noMoreFixtures {
  min-height: unset;

  .noMoreFixturesMessage {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 2.5rem;
    background-color: colors.$bgWarning;
  }
}