.fixturesListItemWrapper {
  display: flex;
  flex-direction: column;
  flex: 1 0 200px;
  max-width: 400px;
  align-content: flex-start;

  .fixturesListItem {
    height: 100%;
    background-color: #fff;
    color: #000;
    border-radius: 10px;

    .mainTeamName {
      color: #03A9F4;
      font-size: 20px;
      padding: 10px 15px;
      border-bottom: 1px solid #000;
    }

    .opponentTeamNameWrapper {
      display: grid;
      grid-template-columns: 25px 1fr 25px;
      gap: 10px;
      padding: 10px 15px;
      border-bottom: 1px solid #000;
      &:last-child {
        border-bottom: none;
      }

      .opponentTeamName {
        text-align: left;
      }

      .stadium {
        width: 25px;
        height: 25px;
        line-height: 25px;
        border-radius: 100%;
        background-color: darkseagreen;

        &.awayStadium {
          background-color: pink;
        }
      }
    }
  }
}


