.fixtures {
  padding: 0 4rem;

  @media screen and (max-width: 480px) {
    padding: 0 2rem;
  }
}

.emptyResultsWrapper {
  margin: 0 4rem;

  @media screen and (max-width: 480px) {
    margin: 0 2rem;
  }
}