@use "@/app/assets/styles/breackpoints";

.fixtures {
  padding: 0 4rem;

  @media screen and (max-width: breackpoints.$phone) {
    padding: 0 2rem;
  }
}

.emptyResultsWrapper {
  margin: 0 4rem;

  @media screen and (max-width: breackpoints.$phone) {
    margin: 0 2rem;
  }
}